html {
  overflow-x: hidden;
  overflow-y: scroll;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  margin-left: -15px;
  margin-top: -15px;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
body {
    margin: 0;
    background-color: #eee;
}
.row::after {
    content: "";
    clear: both;
    display: block;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  @media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }
    .main-card{
      margin: 0;
    }
  }

  .nav {
    height: 67px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    box-shadow: 2px 1px 5px 3px #eee;
    margin-bottom: 0;
    padding: 8px;
    z-index: 1;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 18px;
    color: #000;
    padding: 10px;
    padding-left: 50px;
  }

  .nav > .nav-header > .nav-title img{
    margin-top: 0;
    height: 50px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    margin-top: 6px;
    float: right;
    font-size: 20px;
    font-weight: 400;
    padding-right: 45px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
  }
  
  .nav > .nav-links > a:hover {
    text-decoration: underline;
    text-decoration-color: #e95c29;
    text-decoration-style: solid;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #fff;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  /* title section */

  .main-card {
    margin-top: -5px;
    margin-left: 45px;
    margin-right: 45px;
    padding: 5px;
    box-shadow: 100px rgba(31, 30, 30, 0.164);
  }

  .col-12 {
    background: #fff;
  }

  .main-text{
    position: absolute;
    top: 35%;
    left: 50%;
    height: 150x;
    width: 300px;
    transform: translate(-50%, -50%);
    font-size: 90px;
    font-weight: 600;
    text-align: center;
  }

  .video{
    position: absolute;
    top: 50%;
    left: 45%;
    border-radius: 10px;
    border: 1px solid #e95c29;
    background: #e95c29;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    padding: 8px; 
  }

  .video:hover{
    box-shadow: 1px 4px 5px 4px #eee;
  }

  .main-subtitle{
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 35px;
    font-weight: 100;
    transform: translate(-50%, -50%);
  }

  .title-layout{
    position: relative;
    z-index: -2;
  }

  .subheading{
    font-size: 40px;
    font-weight: 700;
    text-align: start;
    margin-left: 15%;
    margin-top: 0;
  }

  .subheading-4{
    margin-left: 28%;
  }

  .text-para{
    margin-left: 15%;
  }

  #who-layout, #about-layout{
    background-color: #fff;
  }

  .about-text:hover{
    box-shadow: 1px 4px 10px 4px #eee;
  }
  .about-text{
    text-align: center;
    border-radius: 13px;
    border: 1px solid #eee;
  }

  .about-heading{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .about-heading-2{
    font-size: 28px;
    margin-top: 15px;
    font-weight: 300;
  }

  #who-layout{

  }

  #who-layout img{
    height: 500px;
    width: 500px;
  }

  #about-layout img{
    height: 500px;
    width: 500px;
  }

  #where-layout img {
    height: 500px;
    width: 500px;
  }

  #ui-layout img{
    height: 500px;
    width: 1000px;
    margin-left: 15%;
    margin-right: 13%;
  }

  #ui-layout .about-heading{
    text-align: center;
    margin-bottom: 40px;
  }
  #layout img{
    height: 500px;
    width: 500px;
  }

  .left-mockup{
    margin-left: 20%;
    margin-top: 0;
  }

  .right-mockup{
    margin-right: 10%;
    margin-top: 0;
  }

  input{
    border-radius: 4px;
    color: #000;
    width: 50%;
    margin-bottom: 10px;
    font-family: ProductSans;
    font-size: 24px;
    border: 1px solid #1e1e1e73;
    padding: 5px;
  
  }

  .subscribe-card i{
    font-size: 24px;
  }

.subscribe-card .about-heading{
  font-size: 34px;
  font-weight: 600;
}

.subscribe-card .about-heading-2{
  font-size: 20px;
  font-weight: 100;
}

.left-ui-text{
  text-align: end;
  margin-right: 30px;
}

.right-ui-text{
  text-align: start;
  margin-left: 60px;
}

.ui-card{
  border-radius: 12px;
  border: 1px solid #eee;
  width: max-content;
  padding: 10px;

}


#mobile-view{
  display: none;
}

@media only screen and (max-width: 680px){
  #body{
    display: none;
  }

  body{
    background-color: #fff;
  }

  #mobile-view{
    display: block;
  }

  #mobile-view img{
    margin: auto;
    display: block;
    width: 300px;
    height: 120px;
    margin-top: 25%;
  }

  #mobile-view h2{
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
  }

  #mobile-view .video-sm {
    border-radius: 10px;
    border: 1px solid #e95c29;
    background: #e95c29;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    padding: 8px;
    }
}